<div (click)="goToMovie(item.id)" *ngFor="let item of items" class="ion-padding-horizontal">
    <!--<div class="row">
        <div class="col text-center">
            <h2>{{item.title}}</h2>
        </div>
    </div>
    <div class="row">
        <img [src]="item.posterImage"
             width="80px" height="125px"
             style="float:left; margin-right: 10px;"/>
        <p class="ion-text-sm-justify" style="text-align: left;">{{item.resume}}</p>
    </div>
    <div class="row">
      <ion-label>
            <ion-icon name="calendar"></ion-icon>
            {{item.date}}
            <ion-icon style="color: goldenrod; margin-left: 2%" name="star"></ion-icon>
            {{item.score}}
      </ion-label>
    </div>
    <ion-item-divider></ion-item-divider>-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-row>
                    <ion-col size="6">
                        <ion-icon name="calendar"></ion-icon>
                        {{item.date}}
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon style="color: goldenrod; align-content:end" name="star"></ion-icon>
                        {{item.score}}
                    </ion-col>
                </ion-row>


            </ion-card-subtitle>
            <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="4">
                    <img [src]="item.posterImage"
                         width="80px" height="125px"
                         style="float:left; margin-right: 10px;"/>
                </ion-col>
                <ion-col size="8">
                    {{item.resume}}
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        <ion-icon name="calendar"></ion-icon>
                        {{item.date}}
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</div>
