<ion-header>
    <ion-toolbar color="dark">
        <ion-grid>
            <ion-row>
                <ion-col size="7">
                    <ion-segment (ionChange)="changeButton($event)" color="medium">
                        <ion-segment-button checked value="1">
                            <ion-label [ngStyle]="{ 'color': selectedColorDay }" color="medium">Diario</ion-label>
                            <ion-icon name="md-clock"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="2">
                            <ion-label [ngStyle]="{ 'color': selectedColorWeek }" color="medium">Semanal</ion-label>
                            <ion-icon name="md-calendar"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-col>
                <ion-col size="5">
                    <app-series-switch></app-series-switch>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-toolbar>
    <ion-progress-bar *ngIf="showProgress" type="indeterminate" color="dark"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="movies" color="medium">
  <app-movie-card [movies]="movies"></app-movie-card>
</ion-content>
