<ion-header>
    <ion-toolbar color="dark">

        <ion-segment (ionChange)="changeButton($event)" color="medium">
            <ion-segment-button checked value="1">
                <ion-label color="medium">Diario</ion-label>
                <ion-icon name="md-clock"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2">
                <ion-label color="medium">Semanal</ion-label>
                <ion-icon name="md-calendar"></ion-icon>
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>
    <ion-progress-bar *ngIf="movies.length <= 0" type="indeterminate" color="dark"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="movies" color="medium">
  <app-movie-card [movies]="movies"></app-movie-card>
</ion-content>
