
<ion-content *ngIf="movie" color="medium" fullscreen>

  <ion-card color="dark">
    <img [src]="movie.backgroundImage">

    <ion-card-header>
      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-icon name="calendar" [size]="24" class="ion-align-items-center"></ion-icon>
              {{movie.date}}
            </ion-col>
            <ion-col size="4">
              <ion-text >{{movie.genre}}</ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-icon style="color: goldenrod; align-content: flex-end;" name="star"></ion-icon>
              {{movie.score}}
            </ion-col>
          </ion-row>
        </ion-grid>



      </ion-card-subtitle>
      <ion-card-title>
        {{movie.title}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img class="illustration" [src]="movie.posterImage" style="float: left; margin: 0 15px 0 0; max-width: 100px" />
      <ion-text [color]> {{movie.resume}}</ion-text>
      <ion-item color="dark"><a href="{{movie.webUrl}}">{{movie.webUrl}}</a></ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
